<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	  <title>Tech Craze</title>
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	  <link rel="stylesheet" type="text/css" href="css/reset.css">
	  <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		{{{ body }}}
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</HTML>